                                        /* gallery*/
    .gallery {
        margin: 60px;
        text-align: center;
        font-size: 40px;
    }
    
                    
#image1{
    height:200px;
    width: 220px;
}
#image2{
    height:200px;
    width: 220px;
}
#image3{
    height:200px;
    width: 220px;
}
#image4{
    height:200px;
    width: 220px;
}
#image5{
    height:200px;
    width: 220px;
}
#image6{
    height:200px;
    width: 220px;
    
}
#image7{
    height:200px;
    width: 220px;
}
#image8{
    height:200px;
    width: 220px;
}
#image9{
    height: 200px;
    width: 220px;
}
#image10{
    height: 200px;
    width: 220px;
}
#image11{
    height: 200px;
    width: 220px;
}
#image12{
    height: 200px;
    width: 220px;
}
#image13{
    height: 200px;
    width: 220px;
}
#image14{
    height: 200px;
    width: 220px;
}
#image15{
    height: 200px;
    width: 220px;
}
#image16{
    height: 200px;
    width: 220px;
    border-radius: 10px;
}


#images{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;

}

.images:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.box{
    margin: 10px;
    transition: 0.3s;
    box-shadow: 0.3s;
    height:300px;
    border: 1px solid black;
    width: 25%;
    background-color: rgb(145, 123, 150);
    padding: 20 gitipx;
    border-radius: 10;

}

.box:hover{
    transform: scale3d(1.50);
    box-shadow: 0 4px 8px red;
    border: 2px double;
}






@media (max-width: 786px) {
    #images {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .image {
        margin-left: auto;
        margin-right: auto;
    }
}
