#sign {
    color: black;
    font-size: 45px;
    text-align: center;
    margin-top: 70px;
}


#form {
    width: 340px;
    display: block;
    text-align: center;
    border: 3px solid #ddd;
    /* border-radius: 5px; */
    background: #fff;
    font-family: Arial, sans-serif;
    padding: 40px 30px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    margin: 50px auto;

}

#form input {
    width: 80%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    /* border-radius: 20px; */
    font-size: 14px;
}

#btn {
    width: 100%;
    padding: 10px;
    background: cyan;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

#btn:hover {
    background: #00ffff;
    box-shadow: 0 0 10px cyan;
}


#create {
    text-decoration: none;
    color: #4a2c2a;
    font-size: 13px;
}

#create:hover {
    text-decoration: underline;
}





@media (max-width: 768px) {


    /*sign up*/
    #form {
        height: 400px;
    }


}